.calendar {
  width: 100%;
  padding: 0 15px;
}

.fc-header-toolbar {
  h2 {
    font-size: 18px!important;
  }
}

.fc-view-harness {
  height: 550px !important;

  .fc-scrollgrid-sync-table {
    height: 400px!important;
  }
}

.fc-theme-standard td, .fc-theme-standard th {
  border: none;

}

.fc-scrollgrid {
  border: none!important;
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-day-today {
  background-color: var(--White-background)!important;

  .fc-daygrid-day-top {
    background-color: var(--Red-enable);
    border-radius: 50%;
    color: var(--White-background);
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fc-scrollgrid {
  thead {
    height: 30px;
  }
}

.fc-button-primary {
  color: var(--Black-text)!important;
  background: none!important;
  border: none!important;
}